/* ***********************************
 *  default css comes first and is designed for mobile
 *  i.e. this is mobile first
 *  ***********************************
 */

hr {
    width: 100%;
}

.main-title{
    margin: 50px auto 20px auto;
    text-align:center;
}

.btn-div{
    margin-top: 20px;
    text-align:center;
}

#press-me-btn{
    text-align:center;
}

#html-css-image-div{
    width: 100%;
    margin: auto auto;
}

#html-css-image{
    width: 100%;
}

.text-large{
    font-size: 120%;
}

.menu-padding p{
    padding: 0px 0px 0px 50px;
}

.text-center {
    text-align: center;
}

.nodisplay{
    display: none;
}

#input-div input{
    width:100%;
}

input {
    margin-bottom: 10px;
}

/* **************************************
 * Media Queries
 * ***************************************
 */

/* this is for tablet, no less than 480px, no greater than 1024px */
@media (min-width:480px) and (max-width:1024px) {
    #html-css-image-div{
        width: 50%;
    }

    hr {
        width: 80%;
    }

    .menu-padding p{
        padding-left: 30px;
    }

    #input-div{
        width:70%;
        margin: 30px auto;
    }
}


/*this is for desktop, greater than 1024*/
@media (min-width:1024px) {

    hr {
        width: 60%;
    }

    #html-css-image-div{
        width: 25%;
    }

    .menu-padding p{
        padding-left: 10px;
    }

    #input-div{
        width:50%;
        margin: 30px auto;
    }
}


